* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, hsl(209, 88%, 75%) 0%, #0d2fa0 100%);
    color: white;
    font-family: "PT Sans", sans-serif;
    min-height: 100vh;
}

/** Header **/

header {
    font-size: 2rem;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-weight: bold;
}

/** Paragraph, Text Input Box & Button **/

p {
    text-align: center;
    font-weight: bold;
}

form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toDoInput {
    height: 50px;
    width: 30%;
    font-weight: bold;
    font-size: 18px;

}

#add-button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: black;
}

/** To Do List **/

.to-do-Box {
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: left;
    max-width: 70%;
    margin: auto;
    min-height: 50vh;

}

ul {
    list-style-type: none;
    width: 100%;
}

.item-div {
    margin: 2%;
    color: black;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 15%;
}

li {
    flex: 1;
}

/** Deltete and Complete Task Buttons **/

.deletebtn {
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
    margin: 3px;
    cursor: pointer;
}

.complete-btn {
    background-color: rgb(122, 184, 29);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
    margin: 3px;
    cursor: pointer;
}

/** Remove click function from Icon **/
.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through red 2px;
}

/** Media Queries **/

@media (max-width: 1024px) {

    p {
        margin-left: 5%;
        margin-right: 5%;
    }

    .toDoInput {
        font-size: 16px;
        width: 60%;
    }

    #add-button {
        font-size: 16px;
    }

    .item-div {
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    header {
        font-size: 1.5rem;
    }

    .toDoInput {
        font-size: 12px;
        width: 50%;
    }

    #add-button {
        font-size: 12px;
        width: 100px;
    }

    .item-div {
        font-size: 12px;
    }
}