* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, hsl(209, 88%, 75%) 0%, #0d2fa0 100%);
    color: white;
    font-family: "PT Sans", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#add-button{
    width: 50px;
    height: 50px;
}

.toDoInput {
    height: 50px;
    width: 30%;
}

.to-do-Box {
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: left;
    max-width: 70%;
    margin: auto;
    min-height: 50vh;

}

ul{
    list-style-type: none;
    width: 100%;
}

.item-div {
    margin: 2%;
    color: black;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

li {
    flex: 1;  
}

.deletebtn {
background-color: red;
width: 40px;
height: 40px;
border: red;
border-radius: 10px;
color: white;
margin: 3px;
cursor: pointer;
}

.complete-btn {
    background-color: rgb(122, 184, 29);
    width: 40px;
    height: 40px;
    border: rgb(122, 184, 29);
    border-radius: 10px;
    color: white;
    margin: 3px;
    cursor: pointer;
    }

    /** Remove click function from Icon **/
.fa-trash,
.fa-check {
  pointer-events: none;
}